@font-face{
    font-family:'digital';
    src: url("/static/fonts/digital-7.regular.ttf");
}

/* @media (min-width: 768px) {
    p { font-size: 1em;}
} */

body {
    background-color: darkgray;
    /* touch-action: pan-x pan-y; */
    touch-action: none;
}

.display {
    margin: 10px;
    background-color: black;
    color: white;
    justify-content: flex-start;
    flex-grow: 5;
    border-radius: 10px;
    /* font-size: xxx-large; */
    font-size: 6vh;
    font-family: 'digital';
    padding: 10px;
    min-height: 47px;
    touch-action: none;
}

.container {
    display: flex;
    margin: 10%;
    margin-top: 20%;
    flex-wrap: wrap;
    flex-direction: column;
    touch-action: none;
}

.display-container {
    display: flex;
    background-color: silver;
    flex-grow: 5;
    border-radius: 10px;
    margin-bottom: 20px;
    touch-action: none;
}

.keypad {
    background-color: silver;
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;    
    touch-action: none;
}

.button {
    background-color: black;
    color: white;
    width: 30%;
    height: 100px;
    border-radius: 50%;
    /* font-size: xxx-large; */
    font-size: 3.2vh;
    border-color: white;
    border-width: 5px;
    touch-action: none;
}

.button:active {
    color: gray;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#enter {
    background-color: green;
}

#delete {
    background-color: red;
}