<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/master.css') }}">
        <script defer src="{{ url_for('static', filename='scripts/master.js') }}"></script>
    </head>

    <body>
        <div class="container">
            <a id="display">MASTER LMAO</a>

            <div class="keypad">
                <form action="" method="GET">
                    <input type="text" placeholder="Message..." name="message" value="" id="message">
                    <button type="button" onclick="setMessage(this.form)">Send</button>
                </form>
                <button class="button" id="vend">Vend</button>
                <button class="button" id="out">Out</button>
                <button class="button" id="marine">Marine Copypasta</button>
                <button class="button" id="talk">Talk</button>
                <button class="button" id="tts">TTS</button>
            </div>
        </div>
        
    </body>

</html>